<div class="content">
    <h1>icons</h1>
    <p class="description">This is an archive utility allowing to add files to archive and extract them back.<br/>
        Help to assign better icons to the toolbar buttons: search the appropriate icons and put them in the right places.</p>

    <div class="page">
        <div class="page-title">
            icons
        </div>
        <ul class="icons-box">
            <li class="icon-box" data-ng-repeat="iconBox in iconsBox" title="Add icon for '{{iconBox}}'">
                <div class="icon-cell" data-drop="true" data-ng-model='iconsBoxContainer' data-jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                    <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="iconsBoxContainer" data-jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
                        <img class="search-icon-img" data-ng-src="{{iconsBoxContainer[$index].src}}" data-ng-show="iconsBoxContainer[$index].src" />
                    </div>
                </div>
                <span class="icon-box-label">{{iconBox}}</span>
            </li>
        </ul>
    </div>

    <div class="search-wrap">
        <form class="search-block">
            <input />
            <button type="submit">Search</button>
        </form>
        <ul>
            <li class="search-icon" data-ng-repeat="iconSearch in searchResult" data-drop="true" data-ng-model='searchResult' data-jqyoui-droppable="{index: {{$index}}}">
                <img class="search-icon-img" alt="" data-ng-show="iconSearch.src" data-ng-src="{{iconSearch.src}}"  data-drag="true" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="searchResult" data-jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(iconSearch, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}" />
            </li>
        </ul>
    </div>

</div>

