<div class="wrapper">
    <div class="content">

        <h1>icons</h1>
        <p class="description">
            This is an archive utility allowing to add files to archive and extract them back.<br/>
            Help to assign better icons to the toolbar buttons: search the appropriate icons and put them in the right places.
        </p>

        <div class="page">
            <div class="page-title">
                <div class="circle-block">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                icons
            </div>
            <ul class="icons-box" data-ng-class="{'start-dnd' : startDnd}">
                <li class="icon-box" data-ng-repeat="iconBox in iconsBox" title="Add icon for '{{iconBox.title}}'">
                    <div class="icon-cell transition" data-box-id="{{iconBox.id}}" data-drop="true" data-ng-model='iconsBoxContainer' data-jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                        <img class="slot-icon-img" data-img-box-id="{{iconBox.id}}" data-ng-src="{{iconsBoxContainer[$index].src}}" data-ng-show="iconsBoxContainer[$index].src" />
                    </div>
                    <span class="icon-box-label">{{iconBox.title}}</span>
                </li>
            </ul>
        </div>

        <div class="search-wrap">
            <form class="search-block" data-ng-submit="searchSubmit(search)">
                <input type="text" class="search-string" data-ng-model="search" placeholder="search icons here" name="search"  />
                <button type="submit" class="search-btn btn transition" data-ng-disabled="!search || disableBtn">Search</button>
            </form>
            <ul class="search-result" data-ng-show="searchResult">
                <li class="search-icon" data-ng-repeat="iconSearch in searchResult" data-ng-model='searchResult'>
                    <img class="search-icon-img" alt="" data-icon-id="{{iconSearch.id}}" data-ng-show="iconSearch.src" data-ng-src="{{iconSearch.src}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" data-ng-model="searchResult" data-jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(iconSearch, $index)', onStop: 'stopCallback'}" />
                    <p class="search-label" title="{{iconSearch.name}}">{{iconSearch.name}}</p>
                </li>
            </ul>
            <div class="before-loading loading-animate" data-ng-show="!searchResult && loaded"></div>
            <div class="before-loading  no-results" data-ng-show="noResults">Nothing found. Try a different query string.</div>
        </div>

        <div class="results">
            <div class="results-container transition" data-ng-class="{'show': showResults}">
                <h2>{{getScore()}}</h2>
                <p class="results-description">People agree with you. <br />That is your score.</p>
                <ul>
                    <li class="item-result" data-ng-repeat="item in statistic">
                        <img class="result-icon-img" data-ng-src="data:image/svg+xml;base64,{{item.src}}" />
                        <span>{{item.percent}}%</span>
                        <span data-ng-show="item.choice">&#8211; Your choice</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

