/* Common *************************************************************************************************************/
.wrapper {
    margin: 0 auto;
    min-width: 440px;
    width: auto;
    max-width: 1280px;
    text-align: center;
    padding-right: 300px;
}

h1,
h2 {padding-top: 30px; font-size: 40px;}
h1 {padding: 30px 0 15px; font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;}

.description {color: #bbbbbb; padding: 0 20px;}

/* Page ***************************************************************************************************************/
.page {
    margin: 20px;
    border: 2px solid #cccccc;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;

}

.page-title {margin-top: 4px; color: #bbbbbb;}

.circle-block {
    float: left;
    margin-left: 7px;
    position: absolute;
}

ul.icons-box {
    margin: 20px 10px;
}

ul.icons-box:after {
    clear: both;
    display: block;
    content: '';
}

li.icon-box {
    display: block;
    float: left;
    width: 91px;
    margin: 5px;
}

.icon-cell {
    width: 60px;
    height: 60px;
    border: 3px dashed #dddddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: 0 auto 10px;
}

.slot-icon-img {
    width: 50px;
    height: 50px;
}

.icon-box-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    margin-left: -4px;
}

.start-dnd .icon-cell {
    border-color: rgb(111, 204, 255);
}

.icon-cell.over-dnd {
    border-color: #de29ac;
}

.icon-cell.drop-dnd {
    border: 0;
}

/* Search *************************************************************************************************************/
.search-block {margin: 40px 0;}

input.search-string {width: auto;}

ul.search-result {
    text-align: left;
}

li.search-icon {
    display: inline-block;
    margin: 11px;
    width: 100px;
    text-align: center;
}

.search-icon-img {
    width: 50px;
    height: 50px;
    cursor: move;
}

.search-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Results ************************************************************************************************************/
.results {
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: #F1F6F9;
    overflow: hidden;
}

.results-container {
    margin-left: -300px;
    text-align: left;
    color: #666;
    padding: 0 30px;
}
.results-container.show {margin-left: 0;}

.results-description {
    margin-bottom: 30px;
    color: #bbbbbb;
}

li.item-result {
    display: block;
    margin: 15px 0;
}

li.item-result > * {
    vertical-align: middle;
}

.result-icon-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}